h1, h2 {
    font-family: 'Prata', serif;
}
    
.container {
    background-color: black;
    padding: 3em;
    margin-bottom: 2em;
}
    
.header {
    margin-top: 2em;
    margin-left: 9em;
    margin-bottom: 1em;
}

.footer {
    margin-left: 9em;
}
    
img {
    position:relative;
    max-width: 100%;
    height: auto;
    opacity: .70;
    z-index: 1;
}

.container img:hover{
    opacity: 100%;
    z-index: 2;
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}